<ion-view view-title="Playlists">
    <ion-content>
        <h2 class="center header">{{rapperCount}}. What rapper is this?</h2>
        <img class="center header-image" ng-src="{{rappers.get('rapper').get('image')._url}}" />
        <div class="play-me center" ng-click="playAudio()">
            <i class="icons ion-play"></i>&nbsp;&nbsp;Play Again!
        </div>
        <div class="row">
            <div class="col col-50 rapper"><img ng-src="{{rappers.rappers[0].get('image')._url}}" /><span>{{rappers.rappers[0].get('name')}}</span></div>
            <div class="col col-50 rapper"><img ng-src="{{rappers.rappers[1].get('image')._url}}" /><span>{{rappers.rappers[1].get('name')}}</span></div>
        </div>
        <div class="row">
            <div class="col col-50 rapper"><img ng-src="{{rappers.rappers[2].get('image')._url}}" /><span>{{rappers.rappers[2].get('name')}}</span></div>
            <div class="col col-50 rapper"><img ng-src="{{rappers.rappers[3].get('image')._url}}" /><span>{{rappers.rappers[3].get('name')}}</span></div>
        </div>
    </ion-content>
</ion-view>
